<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>ducnt.filters.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>ducnt.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>ducnt.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>ducnt.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>ducnt.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddArticleController</servlet-name>
        <servlet-class>ducnt.controllers.AddArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchArticleController</servlet-name>
        <servlet-class>ducnt.controllers.SearchArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowArticleDetailController</servlet-name>
        <servlet-class>ducnt.controllers.ShowArticleDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmotionController</servlet-name>
        <servlet-class>ducnt.controllers.AddEmotionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCommentController</servlet-name>
        <servlet-class>ducnt.controllers.AddCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAllArticleController</servlet-name>
        <servlet-class>ducnt.controllers.LoadAllArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteArticleController</servlet-name>
        <servlet-class>ducnt.controllers.DeleteArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentController</servlet-name>
        <servlet-class>ducnt.controllers.DeleteCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadNotificationController</servlet-name>
        <servlet-class>ducnt.controllers.LoadNotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendCodeController</servlet-name>
        <servlet-class>ducnt.controllers.SendCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeController</servlet-name>
        <servlet-class>ducnt.controllers.VerifyCodeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddArticleController</servlet-name>
        <url-pattern>/AddArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchArticleController</servlet-name>
        <url-pattern>/SearchArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowArticleDetailController</servlet-name>
        <url-pattern>/ShowArticleDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmotionController</servlet-name>
        <url-pattern>/AddEmotionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCommentController</servlet-name>
        <url-pattern>/AddCommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAllArticleController</servlet-name>
        <url-pattern>/LoadAllArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteArticleController</servlet-name>
        <url-pattern>/DeleteArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentController</servlet-name>
        <url-pattern>/DeleteCommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadNotificationController</servlet-name>
        <url-pattern>/LoadNotificationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendCodeController</servlet-name>
        <url-pattern>/SendCodeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeController</servlet-name>
        <url-pattern>/VerifyCodeController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
<!--    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>-->
    <resource-ref>
        <res-ref-name>MiniSocialNetwork</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
